.notifications,
.home,
.list{
    width: 33px;
    height: 32px;
    color: white;
    margin: 25px 10px;
}
.end {
    display: flex;
}
.menu {
    height: 50px;
    width: 100px;
    margin-top: 50px;
    margin-left: -70px;
    font-size: 15px;
    text-align: center;
    background-color: white;
    position: absolute;
}

