
.ok2 {
  width: 250px;
  margin-top: 495px;
margin-left: 30px;
  overflow: scroll;
  height: 130px;
  transition: 0.3s;

  scrollbar-width: 1px;
  position:fixed;


}

.more {
  margin-left: 90px;
  height: 5px;
  margin-top: -2000px;
}

.more2 {
  margin-left: 70px;
  height: 5px;
  display: none;
}

.tor {
  color: white;
  background-color: rgb(139, 168, 241);
  border-radius: 20px;
  position: absolute;

}

.item {
  color: rgb(227, 222, 222);

 
  font-weight: bold;
  border-radius: 10px;
  transition: 0.7s;
}
.item:hover {
  background-color: rgb(0, 94, 244);
  color: white;
  border-radius: 10px;
 
  font-weight: bold;
}

.btn {
  margin-top: 8px;
  height:2px;
}

.navigate{
  text-decoration: none;
  color:white;
}
