
.ok2 {
  width: 220px;
  margin-top: 24%;
margin-left: 81%;
  overflow: scroll;
  height: 295px;
  transition: 0.3s;
background-color: rgb(139, 168, 241);
  scrollbar-width: 1px;
  position:fixed;
  border-radius: 50px;


}

.more {
  margin-left: 90px;
  height: 5px;
  margin-top: -2000px;
}

.more2 {
  margin-left: 70px;
  height: 5px;
  display: none;
}

.tor {
  color: white;
  background-color: rgb(139, 168, 241);
  border-radius: 20px;
  position: absolute;
  font-size: 1px;

}

.item {
  color: rgb(227, 222, 222);

 
  font-weight: bold;
  font-size: 10px;
  border-radius: 10px;
  transition: 0.7s;
 
}
.item:hover {
  background-color: rgb(0, 94, 244);
  color: white;
  border-radius: 10px;
  font-weight: bold;
}

.btn {
  margin-left: 20px;
  margin-top: 10px;
  
  height:2px;
}

.navigate{
  text-decoration: none;
  color:white;
}
