
#footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #76a9f7;
    height: auto;
    width: 100vw;
    padding-top: 5px;
    color: #fff;
    text-align: center;
    z-index: 2000;
}