body{
    background-position: bottom;
    position: relative;
    min-height: 120vh;
}
#footer{
    position: absolute;
    bottom: 0;
    border-top: 1px solid #f4f4f4;
    background-color: rgba(33, 32, 32, 0.5);
    color: rgb(244, 244, 244);
}