.mainlist {
  width: 100%;
  max-width: 360;
  background-color: rgb(139, 168, 241);
  color: white;
  height: 40px;
  overflow: hidden;
  border-radius: 18px;
  margin-left: 400px;
  cursor: pointer;
  transition: 1s;
  position: absolute;
}

.mainlist2 {
  width: 100%;
  max-width: 360;
  background-color: rgb(139, 168, 241);
  color: white;
  height: 350px;
  overflow: auto;
  border-radius: 18px;
  margin-left: 400px;
  cursor: pointer;
  transition: 1s;
  position: absolute;
}

.blok {
  width: 200px;
  margin-left: 82%;
  position: absolute;

  transition: 1s;
}

.close {
  margin-left: 70px;
}

.people {
  color: rgb(227, 222, 222);
  width: 200px;
  margin-top: 5px;
  font-weight: bold;
  border-radius: 10px;

  transition: 0.4s;
}

.people:hover {
  color: rgb(0, 94, 244);

  font-weight: bold;

  transition: 0.4s;
}

.frblok {
  position: absolute;
  margin-left: -600px;
}

.delete {
  color: rgb(233, 236, 240);
}

.delete:hover {
  color: rgb(255, 85, 0);
  scale: 1.2;
  transition: 0.5s;
}

.list {
  margin-left: -15px;
}
