
#paragraph{
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 20px;
    font-weight: bold;
}

.avatar{
    width: 30px;
    height: 30px;
}

.row:hover{
    background-color: #e6e6e6;
    border-radius: 10px;
    cursor: pointer;
}