i.Nav {

   background-color: #f0f;

   border-bottom: 1px solid rgba(0, 0, 0, 0.0975);

   position: fixed;

   top: 0;

   width: 100%;

   z-index: 2;

   -webkit-transition: height 0.2s ease-in-out;

   transition: height 0.2s ease-in-out;

   height: 77px;

 }

 .Nav-menus {

   display: flex;

   flex-direction: row;

   height: 77px;

   width: 70%;

   margin: 0 auto;

   padding: 26px 40px;

 }

 .instagramStyle{
   font-size: 50px;
   border-left: 2px solid;
   padding-left: 10px;
 }

 .Nav-brand{
    display: flex;
    align-items:center;
 }
 
 .Nav-brand-logo {

   display: block;

   

   background-image: url(../assets/imgs/logo.png);

   

   background-repeat: no-repeat;

   height: 70px;

   width: 90px;

   text-indent: -1000%

 }