.listmain {
    width: 17%;
    max-width: 360;
    background-color: rgb(139, 168, 241);
    color: white;
    height: 350px;
    overflow: auto;
    border-radius: 18px;
    margin-left: 150px;
    cursor: pointer;
    transition: 1s;
    position: absolute;
  }
  
  
  
  .userblok {
    width: 100%;
    margin-left: 11%;
    
  margin-top:200px;
    transition: 1s;
  }
  
  .closing {
    margin-left: 70px;
  }
  
  .anotherpeople {
    color: rgb(227, 222, 222);
    width: 200px;
    margin-top: 5px;
    font-weight: bold;
    border-radius: 10px;
  
    transition: 0.4s;
  }
  
  .anotherpeople:hover {
    color: rgb(0, 94, 244);
  
    font-weight: bold;
  
    transition: 0.4s;
  }
  
  
  
  .deleting {
    color: rgb(233, 236, 240);
  }
  
  .deleting:hover {
    color: rgb(255, 85, 0);
    scale: 1.2;
    transition: 0.5s;
  }
  
  .userlist {
    margin-left: -15px;
  }
  
  .link{
    color:white;
    text-decoration: none;
  }

  .followed{
    color:rgb(255, 255, 255);

    border-radius:15px;
    background-color: rgb(94, 133, 232);
    margin-top: 8px;
  }

  .following{
    color:rgb(0, 50, 230);
    margin-top:8px;
    margin-left:-3px;
  }
.following:hover{
  color:white;
  scale: 1.2;
  transition: 0.5s;
 
padding: 0px;

}
  .text{
    margin-left: 50px;
    color:white;
  }
  .button{
    margin-left: 110px;
  }